@model PresentationService.Models.AdminModels.ProductModels.Items.ProductIndexItemModel
@{
    Layout = null;
}
<tr class="@(ViewBag.isOddRow ? "odd" : "even")">
    <td onclick="javascript:location.href = '@Url.Action("Edit", "Product", new { id = Model.ProductId })';" style="padding-left: @(ViewBag.leftPadding)px">@Model.ProductName</td>
</tr>