@model PresentationService.Models.AdminModels.UserModels.Items.UserIndexItemModel
           
@{
    Layout = null;
}

<tr style="@(ViewBag.isOddRow ? "background-color: #ECECC5;" : string.Empty) font-size: 14px;">
    <td style="padding-left: @(ViewBag.leftPadding)px">@Model.FullName</td>
    <td class="lastColumn" onclick="javascript:location.href = '@Url.Action("Edit", "User", new { id = Model.UserID })'">&nbsp;</td>
</tr>