.categories-table { width: 100% }
.categories-table tr { font-family: Tahoma; font-size: 18px; }
.categories-table tr.odd { background-color: #EEEEEE; }
.categories-table tr td { padding-top: 10px; padding-bottom: 10px; padding-left: 10px; border-bottom: 1px solid #999999 }
.categories-table tr:last-child td { border: none; }
.categories-table tr:hover { cursor: pointer; background-color:  #CCCCCC }

select { width: 400px; }
input[type="text"] { width: 388px; }
form p { margin-bottom: 0px;margin-top: 14px;}
a.button { float: right;margin-right: 0px;margin-left: 10px;margin-top: 5px;}
a.button.left-aligned { float: left;margin-left: 0px;}

input[type="text"].product-count { width: 30px;}
.product-row a.button { float: none;}