<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PresentationService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PresentationService.Properties.Settings>
            <setting name="ProductImagesPath" serializeAs="String">
                <value>/Content/Images/Products</value>
            </setting>
            <setting name="ProductImagesBigPostfix" serializeAs="String">
                <value>/Big</value>
            </setting>
            <setting name="ProductImagesSmallPostfix" serializeAs="String">
                <value>/Small</value>
            </setting>
            <setting name="ProductImagesTempPath" serializeAs="String">
                <value>/Content/Images/Products/Temp</value>
            </setting>
            <setting name="GoogleApiUrl" serializeAs="String">
                <value>https://www.googleapis.com/oauth2/v1/userinfo?access_token=</value>
            </setting>
            <setting name="FacebookApiUrl" serializeAs="String">
                <value>https://graph.facebook.com/me/?access_token=</value>
            </setting>
        </PresentationService.Properties.Settings>
    </applicationSettings>
</configuration>