@model PresentationService.Models.AdminModels.ProductModels.ProductIndexModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="section-title">
    <h1 class="title">Список <span>продуктов</span></h1>
</div>

<a href="@Url.Action("Add")" class="button medium grey">Добавить</a>
<table class="categories-table">
    @if (Model.Products != null)
    {
        foreach (var category in Model.Products)
        {
            @Html.DisplayFor(m => category, new { isOddRow = true })
        }
    }
</table>