@{
    Layout = null;
}
@model PresentationService.Models.AdminModels.ProductModels.ProductUploadImageModel
<!DOCTYPE html>
<html>
<head>
    <title>UploadImage</title>
    @if (Model.Success)
    {
        <script type="text/javascript">
            if (window.parent['setNewImage']) {
                var fn = window.parent['setNewImage'];
                fn(result);
            }
        </script>
    }
</head>
<body>
    <div>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="qqfile"/>
            <input type="submit"/>
        </form>
    </div>
</body>
</html>