<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="nhibernateSettings" type="NHibernate.Repository.NHibernateSession.NHibernateSettingsSection, NHibernate.Repository"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MvcApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <globalization culture="auto" uiCulture="auto"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/User/Authentication" timeout="2880"/>
    </authentication>
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="NHibernateSessionModule" type="NHibernate.Repository.NHibernateSession.NHibernateSessionModule, NHibernate.Repository, Version=1.0.0.0, Culture=neutral"/>
    </httpModules>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="NHibernateSessionModule" type="NHibernate.Repository.NHibernateSession.NHibernateSessionModule, NHibernate.Repository, Version=1.0.0.0, Culture=neutral"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nhibernateSettings>
    <sessionFactories>
      <clearFactories/>
      <sessionFactory name="MVC" connectionString="Server=053562fc-9c1a-47fa-9809-a0ef008a67b1.sqlserver.sequelizer.com;Database=db053562fc9c1a47fa9809a0ef008a67b1;User ID=rqsfdwbtohappmjo;Password=Jnhpq4SuQ54ybXD4dz6MfFuTD5KWy3jUAnV7X5MU3wDn8KTUVeGkFRBcZvTtr55V;">
        <clear/>
        <mapping name="NHibernate.Repository"/>
      </sessionFactory>
    </sessionFactories>
  </nhibernateSettings>
  <log4net>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="ADONetAppender"/>
    </root>
    <appender name="ADONetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="100"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="Server=053562fc-9c1a-47fa-9809-a0ef008a67b1.sqlserver.sequelizer.com;Database=db053562fc9c1a47fa9809a0ef008a67b1;User ID=rqsfdwbtohappmjo;Password=Jnhpq4SuQ54ybXD4dz6MfFuTD5KWy3jUAnV7X5MU3wDn8KTUVeGkFRBcZvTtr55V;"/>
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
    </appender>
    <appender name="NhibernateAppender" type="log4net.Appender.RollingFileAppender, log4net">
      <param name="File" value="nhibernate.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%d %p %m%n"/>
      </layout>
    </appender>
    <logger name="NHibernate" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="NhibernateAppender"/>
    </logger>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="NhibernateAppender"/>
    </logger>
  </log4net>
  <applicationSettings>
    <MvcApplication.Properties.Settings>
      <setting name="FacebookUrlAuth" serializeAs="String">
        <value>https://www.facebook.com/dialog/oauth?client_id=343004015780294&amp;state=fb&amp;redirect_uri=http://mvctest-6.apphb.com/user/Authentication/&amp;scope=user_about_me,email&amp;response_type=token</value>
      </setting>
      <setting name="GoogleUrlAuth" serializeAs="String">
        <value>https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.profile+https://www.googleapis.com/auth/userinfo.email&amp;state=gl&amp;redirect_uri=http://mvctest-6.apphb.com/user/Authentication&amp;response_type=token&amp;client_id=469786120708.apps.googleusercontent.com</value>
      </setting>
    </MvcApplication.Properties.Settings>
  </applicationSettings>
</configuration>