<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <MvcApplication.Properties.Settings>
      <setting name="FacebookUrlAuth" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>https://www.facebook.com/dialog/oauth?client_id=343004015780294&amp;state=fb&amp;redirect_uri=http://mvctest-6.apphb.com/user/Authentication/&amp;scope=user_about_me,email&amp;response_type=token</value>
      </setting>
      <setting name="GoogleUrlAuth" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.profile+https://www.googleapis.com/auth/userinfo.email&amp;state=gl&amp;redirect_uri=http://aspnet-mvc-application.apphb.com/User/Authentication&amp;response_type=token&amp;client_id=246889657486.apps.googleusercontent.com</value>
      </setting>
    </MvcApplication.Properties.Settings>
  </applicationSettings>
</configuration>