<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="nhibernateSettings" type="NHibernate.Repository.NHibernateSession.NHibernateSettingsSection, NHibernate.Repository"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MvcApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <log4net>
    <root>
      <level value="ERROR" />
      <appender-ref ref="WebsiteAppender" />
    </root>
    <appender name="WebsiteAppender" type="log4net.Appender.RollingFileAppender, log4net">
      <param name="File" value="website.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%d %p %m%n"/>
      </layout>
    </appender>
    <appender name="NhibernateAppender" type="log4net.Appender.RollingFileAppender, log4net">
      <param name="File" value="nhibernate.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%d %p %m%n"/>
      </layout>
    </appender>
    <logger name="NHibernate" additivity="false">
      <level value="ERROR"/>
      <appender-ref ref="NhibernateAppender"/>
    </logger>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="NhibernateAppender"/>
    </logger>
  </log4net>
  <system.web>
    <globalization culture="auto" uiCulture="auto"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/User/Authentication" timeout="2880"/>
    </authentication>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="NHibernateSessionModule" type="NHibernate.Repository.NHibernateSession.NHibernateSessionModule, NHibernate.Repository, Version=1.0.0.0, Culture=neutral"/>
    </httpModules>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="NHibernateSessionModule" type="NHibernate.Repository.NHibernateSession.NHibernateSessionModule, NHibernate.Repository, Version=1.0.0.0, Culture=neutral"/>
    </modules>
  </system.webServer>
  <nhibernateSettings>
    <sessionFactories>
      <clearFactories/>
      <sessionFactory name="MVC" connectionString="Server=053562fc-9c1a-47fa-9809-a0ef008a67b1.sqlserver.sequelizer.com;Database=db053562fc9c1a47fa9809a0ef008a67b1;User ID=rqsfdwbtohappmjo;Password=Jnhpq4SuQ54ybXD4dz6MfFuTD5KWy3jUAnV7X5MU3wDn8KTUVeGkFRBcZvTtr55V;">
        <clear/>
        <mapping name="NHibernate.Repository"/>
      </sessionFactory>
    </sessionFactories>
  </nhibernateSettings>
  <applicationSettings>
    <MvcApplication.Properties.Settings>
      <setting name="FacebookUrlAuth" serializeAs="String">
        <value>https://www.facebook.com/dialog/oauth?client_id=343004015780294&amp;state=fb&amp;redirect_uri=http://localhost:8413/user/Authentication/&amp;scope=user_about_me,email&amp;response_type=token</value>
      </setting>
      <setting name="GoogleUrlAuth" serializeAs="String">
        <value>https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.profile+https://www.googleapis.com/auth/userinfo.email&amp;state=gl&amp;redirect_uri=http://localhost:8413/User/Authentication&amp;response_type=token&amp;client_id=246889657486.apps.googleusercontent.com</value>
      </setting>
    </MvcApplication.Properties.Settings>
  </applicationSettings>
</configuration>