@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <form method="POST" action="https://accounts.google.com/o/oauth2/auth">
                <input type="hidden" name="scope" value="https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/drive.file"/>
                <input type="hidden" name="client_id" value="246889657486.apps.googleusercontent.com"/>
                <input type="hidden" name="response_type" value="code"/>
                <input type="hidden" name="redirect_uri" value="http://localhost:8413/test"/>
                <input type="hidden" name="access_type" value="offline"/>
                <input type="submit"/>
            </form>
            

            <form method="POST" action="https://accounts.google.com/o/oauth2/token">
                <input type="text" name="code" value="4/K5-u8RgPs7CF6l85kkkFfpzxQCU3.gqE3fN8CSdcfsNf4jSVKMpYKjWQ6dgI"/>
                <input type="hidden" name="client_id" value="246889657486.apps.googleusercontent.com"/>
                <input type="hidden" name="client_secret" value="tfbc4e4X7nlg0b1Hk0c_wMpq"/>
                <input type="hidden" name="grant_type" value="authorization_code"/>
                <input type="hidden" name="redirect_uri" value="http://localhost:8413/test"/>
                <input type="submit"/>
            </form>
            
            
            <form method="POST" action="https://accounts.google.com/o/oauth2/token">
                <input type="text" name="refresh_token" value="1/k-x0WOMkX2WAhYlFCJNYF-XaqaZR0XAJkrNvRqcJPp4"/>
                <input type="hidden" name="client_id" value="246889657486.apps.googleusercontent.com"/>
                <input type="hidden" name="client_secret" value="tfbc4e4X7nlg0b1Hk0c_wMpq"/>
                <input type="hidden" name="grant_type" value="refresh_token"/>
                <input type="submit"/>
            </form>
            
            @using (Ajax.BeginForm("test", "Home", new { }, new AjaxOptions { }, new { id = "filteredResultsForm" })) {
                <input type="submit" id="update-button" style="display:none;" />
                @Html.Hidden("jsonData")
            }

            <form method="POST" action="https://www.googleapis.com/drive/v2/files?access_token=ya29.AHES6ZT9WHLsm77jSrHcD44t1f4PkVoe7aQe7r4AnFVcS0A" enctype="application/json">
                <input type="hidden" name="title" value="test.docx"/>
                <input type="hidden" name="mimeType" value="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
                <input type="submit"/>
            </form>

        </div>
    </body>
</html>