<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Anubis.Utils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Anubis.Utils.Properties.SMTPSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Anubis.Utils.Properties.Settings>
            <setting name="SmtpUser" serializeAs="String">
                <value>postmaster@app9076.mailgun.org</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value>2d8mnevsgyp8</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value>smtp.mailgun.org</value>
            </setting>
            <setting name="SupportEmail" serializeAs="String">
                <value>postmaster@app9076.mailgun.org</value>
            </setting>
            <setting name="SupportAlias" serializeAs="String">
                <value>mvctest-6</value>
            </setting>
            <setting name="SmtpIsBodyHtml" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmtpIsSecured" serializeAs="String">
                <value>False</value>
            </setting>
        </Anubis.Utils.Properties.Settings>
        <Anubis.Utils.Properties.SMTPSettings>
            <setting name="SmtpUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SupportEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="SupportAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpIsBodyHtml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmtpIsSecured" serializeAs="String">
                <value>False</value>
            </setting>
        </Anubis.Utils.Properties.SMTPSettings>
    </applicationSettings>
</configuration>