@using PresentationService.Models.AdminModels.ConsignmentModels
@model ConsignmentEditModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section head
{
    <script type="text/javascript" src="~/Content/Scripts/admin/knockout-models/ConsignmentEditModel.js"></script>
    <script type="text/javascript">
        $(function () {
            ko.applyBindings(new ConsignmentEditModel(@Html.Raw(Json.Encode(Model.Products))));
        });
    </script>
}

<style>
    .product-row
    {
        width: 100%;
        margin-top: 0px;
        padding-top: 5px;
    }
</style>

<form action="@Url.Action("Edit", "Consignment", new { id = Model.Id})" method="POST">
    <div>
        @Html.ValidationSummary()
        <select name="Status">
            <option value="Waiting">В ожидании</option>
            <option value="Completed">Завершено</option>
        </select>
    </div>
    <div data-bind="foreach: Products">
        <div class="product-row">
            <input type="text" data-bind="value: Name, attr: { name: 'Products['+$index()+'].Name'}, ko_autocomplete: { source: '@Url.Action("ProductNames")', minLength: 2 }" />
            <input type="text" class="product-count" data-bind="value: Count, attr: { name: 'Products['+$index()+'].Count'}" />
            <a href="#" class="button medium grey" title="Убрать продукт" data-bind="click: $parent.RemoveProduct"> - </a>
        </div>
    </div>
    <div>
        <a href="#" class="button medium grey left-aligned" data-bind="click: AddProduct">Добавить продукт</a>
        <a href="#" class="button medium grey">Удалить</a>
        <a href="#" class="button medium grey" data-bind="visible: Products().length > 0" onclick="$('form').submit()">Сохранить</a>
    </div>
</form>