@model PresentationService.Models.AdminModels.ConsignmentModels.ConsignmentIndexModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="section-title">
    <h1 class="title">Список <span>разгрузок</span></h1>
</div>

<a href="@Url.Action("Add")" class="button medium grey">Добавить</a>
<table class="categories-table">
    @if (Model.Consignments != null)
    {
        foreach (var consignment in Model.Consignments)
        {
            @Html.DisplayFor(m => consignment, new { isOddRow = true, leftPadding = 10 })
        }
    }
</table>